<%= form_with model: @post, local: true do |f|%>
  
  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :date, "日付" %><br />
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :golf_course, "ゴルフ場名" %><br />
    <%= f.text_field :golf_course %>
  </div>

  <div class="score">
   <div>
      <span>スコア</span>
   </div>
   <div class="price-content">
     <div class="price-text">
      <span>IN</span>
     </div>
      <%= f.text_field :first_half_score, class:"price-input", id:"first-score" %>
   </div>
   <div class="price-content">
     <div class="price-text">
      <span>OUT</span>
     </div>
      <%= f.text_field :second_half_score, class:"price-input", id:"second-score" %>
   </div>
   <div class="price-content">
     <span>Total</span>
     <%= f.text_field :total_score, class:"price-input", id:"total-score" %>
   </div>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>