<div class="card">
  <%= link_to image_tag(post.image, class: :card__img ), post_path(post.id)%>
  <div class="card__body">
   <p class="date">
    <%= post.date %>
   </p>
    <%= link_to post.golf_course, 'http://www.par72.co.jp/sp/gc/', class: :card__title%>
    <p class="card__summary">
     <span>IN</span>
      <%= post.first_half_score %>
    </p>
    <p class="card__summary">
     <span>OUT</span>
     <%= post.second_half_score %>
    </p>
    <p class="card__summary">
     <span>Total</span>
     <%= post.total_score %>
    </p>
   <%= link_to post.user.nickname, root_path, class: :card__user %>
  </div>
</div>