<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @post.golf_course %>
      </p>
      <%= link_to "by#{@post.user.nickname}", user_path(@post.user_id), class: :prototype__user %>
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_post_path(@post.id), class: :prototype__btn %>
          <%= link_to "削除する", post_path(@post.id),method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <div class="prototype__image">
        <%= image_tag @post.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__message">
            <%= @post.date %>
          </p>
        </div>
        <div class="prototype__detail">
         <p class="detail__title">スコア</p>
          <p class="detail__message">
           <span>IN</span>
           <%= @post.first_half_score %>
          </p>
          <p class="detail__message">
           <span>OUT</span>
           <%= @post.second_half_score %>
          </p>
          <p class="detail__message">
           <span>Total</span>
           <%= @post.total_score %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <% if current_user %>
          <%= form_with(model: [@post, @comment], local: true) do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>
        <% if @comments %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
          <% @comments.each do |comment| %>
            <li class="comments_list">
               <%= comment.text %>
               <%= link_to comment.user.nickname, user_path(comment.user), class: :comment_user %>
            </li>
            <% end %>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</main>
